---
language: node_js
node_js:
  - "6"

sudo: false

matrix:
  fast_finish: true

before_install:
  - npm config set spin false
  - npm i -g typescript

install:
  - npm install

script:
  - npm run build
  - npm run lint
  - npm run test-cov